@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Fira Sans', sans-serif;
}
  
:root{
    --logo: #ecece4;
    --colour1: #99E6B2;
    --colour2: #7AD2A8;
    --colour3: #5CBE9D;
    --colour4: #3DAA93;
    --colour5: #1F9688;
    --colour6: #00827E;
}

.feedback-header{
    overflow-x: hidden;
    margin-top: 271px;
    margin-bottom: 50px;
    transition-duration: 0.5s;
}

.img-width{
    margin-left: 150px;
    margin-right: 150px;
}

.feedback-img{
    height: 600px;
    overflow: hidden;
}

.img-conc{
    width: 100%;
    height: 100%;
    background-color: var(--colour3);
}

.feedback-text{
    background-color: var(--colour6);
    color: whitesmoke;
    padding: 5px;
    position: absolute;
    letter-spacing: 2px;
    line-height: 35px;
    top: 100%;
    left: 15%;
    z-index: 1;
    transition: text 0.5 ease-in;
}

.img-conc .feedback-text{
    width: 100%;
}

@media screen and (max-width: 800px){
    .feedback-img{
        height: 500px;
        margin-top: 31px;
    }
    /* .feedback-text{
        color: var(--colour6);
        padding-left: 3px;
        padding-right: 5px;
        margin-right: 25px;
        position: absolute;
        letter-spacing: 2px;
        line-height: 35px;
        left: 12%;
        z-index: 1;
    } */
}

@media screen and (max-width: 950px){
    .feedback-img{
        height: 500px;
        margin-top: 31px;
    }
}

@media screen and (max-width: 590px){
    .feedback-img{
        height: 500px;
        margin-top: 51px;
    }
}


/*-------feedback lists-------*/

.feedback-list{
    background-color: var(--colour3);
}

.feedback-list h2{
    color: white;
    transition-duration: 0.4s;
    padding: 8px;
    padding-right: 30px;
    margin-bottom: 20px;
}

.feedback-list-container{
    padding: 10px;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    margin: 5px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 15px;
    display: inline-flex;

}

.feedback-list-container .feedback-cust-img{
    background-color: var(--colour6);
    top: 20px;
    left: 96px;
    padding: 50px;
    transition: 0.5s;
    margin-bottom: 50px;
    border-radius: 50%;
    z-index: 1;
    background-size: auto;
}

.feedback-cust-img, .feedback-cust{
    right: 96px;
    margin-left: 70px;
    float: left;
}

.feedback-cust{
    margin-top: 20px;
}