
    .mySlides {display:none;}
    .container{
  background-color: none;
}

*{box-sizing:border-box;}
/* body {font-family: Verdana, sans-serif;} */
/* slideshow container */
.slideshow-container
{
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin-top:280px;
  
}
/* hide the images by default*/
.myslides
{
  display:none;
}
/* img{
  vertical-align: middle;
  background-color:none;
  object-fit: cover;
} */
.text
{
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: #494B55;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}
/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}
.dot{
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6 ease;
}
.active, .dot:hover {
	background-color: #494B55;
}
.active {
  background-color: #717171;
}
.fade{
  -webkit-animation-name:fade;
  -webkit-animation-duration:1.5s;
  animation-name:fade;
  animation-duration: 1.5;
}
@-webkit-keyframes fade{
  from {opacity: .4}
  to {opacity: 1}
}
@keyframes fade{
  from {opacity: .4}
  to {opacity:1}
}
textarea {
  outline: 1cm; 
  border-top:thin solid #181717;
  border-right: thin solid #181717;
  border-bottom:thin solid #181717;
  border-left: thin solid #181717;
  text-align: center;
}
.section{
    margin-right: 15%;
    margin-bottom: 10px;
  }
.column{
    width: 24%;
    display: inline-block;
  }
  .item{
      text-align: center;
      margin-left: 150px;
      width: 70%;
      font-size:medium;
  }
  .text1{
    background-color:lightgreen;
    text-align: justify;
    
  }
