*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: ;
}

:root{
  --colour1: #99E6B2;
  --colour2: #7AD2A8;
  --colour3: #5CBE9D;
  --colour4: #3DAA93;
  --colour5: #1F9688;
  --colour6: #00827E;
}

.site-header{
  background-color: var(--colour3);
  height: 125px;
}

.inner-header{
  height: 125px;
  background-color: var(--colour2);
}

.navbar{
  
}

.logo{
  height: 2cm;
  width: 4cm;
  cursor: hand;
  margin-top: 0px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  z-index: 3;
}

.logo img{
  width: 100%;
  height: 100%;
}
