*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    /* font-family:; */
}
  
:root{
    --colour1: #99E6B2;
    --colour2: #7AD2A8;
    --colour3: #5CBE9D;
    --colour4: #3DAA93;
    --colour5: #1F9688;
    --colour6: #00827E;
}
  
.site-header{
    background-color: var(--colour1);
    max-height: 17vh;
    width: 100%;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
  /*   transition: 0.5s; */
    padding-bottom: 30px;
  
}
  
.inner-header{
    height: 125px;
    background-color: var(--colour2);
}
  
.navbar{
    max-height: 20vh;
    background-color: #00827E;
}
  
.navbar .logo{
    height: 100%;
    
}
  
.logo{
    width: 170px;
    cursor: hand;
    /* margin-top: 10px;
    margin-left: 50px;
    /* margin-right: 10px;
    margin-bottom: 50px; */
    z-index: 3;
}
  
.logo img{
    width: 100%;
    height: 100%;
    text-align: center;
}

.navbar .menu{
    text-align: center;
}

.menu .nav-menu{
    align-items: center;
    display: inline-flex;
    background-color: var(--colour1);
}

.nav-menu li a{
    margin-right: 20px;
    color: var(--colour6);
}
