@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Fira Sans', sans-serif;
}
  
:root{
    --logo: #ecece4;
    --colour1: #99E6B2;
    --colour2: #7AD2A8;
    --colour3: #5CBE9D;
    --colour4: #3DAA93;
    --colour5: #1F9688;
    --colour6: #00827E;
}

.site-header{
    max-height: 200vh;
    width: 100%;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.8s;
    padding-bottom: 30px;
  
}
  
.inner-header{
    height: 125px;
}
  
.navbar .logo{
    height: 100%;
    margin: auto;
}
  
.logo{
    width: 200px;
    cursor: hand;
    z-index: 3;
}
  
.logo img{
    width: 100%;
    text-align: center;
}

.navbar{
    background-color: var(--logo);
}

.navbar .menu{
    text-align: center;
    background-color: var(--colour6);
    padding: auto;
}

.menu .nav-menu{
    display: inline-flex;
    padding-left: 15px;
    
}

.nav-menu li a{
    margin-right: 45px;
    color: whitesmoke;
    font-size: 20px;
    font-weight: 750px;
}

.nav-menu li a i{
    margin-left: 5px;
    margin-top: 10px;
}

.drop-menu-content{
    background-color: var(--colour6);
    width: 4.33cm;
    height: 6cm;
    padding: 5px 8px 5px;
    margin-top: 176px;
    opacity: 0;
    position: absolute;
    visibility: hidden;
}

.drop-menu-content li a{
    font-size: 15.5px;
    float: left;
    padding: 12px;
}

#product-menu:hover .drop-menu-content{
    opacity: 1;
    visibility: visible;
    top: 11px;
    transition: all 0.3s ease;
}

.navbar .sub-menu{
    float: left;
    margin-right: 45px;
    margin-left: 50px;
}

.sub-menu i{
    color: whitesmoke;
    margin-right: 15px;
    font-size: 20px;
    margin-top: 10px;
}

.search{
    height: 40px;
   
}

.search i{
    float: right;
    margin-top: 10px;
    margin-right: 5px;
    position: relative;
    color: whitesmoke;
    font-size: 20px;
}

.search-product{
    margin-left: 10px;
    float: right;
    width: 200px;
    border-radius: 15px;
    height: 30px;
    margin-top: -5px;
    outline: 0;
    padding-left: 15px;
    padding-right: 5px;
    border: none;
}

/* @media screen and (max-width: 940px){} */