@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Fira Sans', sans-serif;
}
  
:root{
    --logo: #ecece4;
    --colour1: #99E6B2;
    --colour2: #7AD2A8;
    --colour3: #5CBE9D;
    --colour4: #3DAA93;
    --colour5: #1F9688;
    --colour6: #00827E;
}

.products-header{
    overflow-x: hidden;
    margin-top: 271px;
    margin-bottom: 50px;
}

.img-width{
    margin-left: 100px;
    margin-right: 100px;
}

.product-img{
    height: 600px;
    overflow: hidden;
}

.img-slides{
    width: 100%;
    height: 100%;
    background-color: var(--colour3);
}

.product-text{
    color: var(--colour6);
    padding: 5px;
    position: absolute;
    letter-spacing: 2px;
    line-height: 35px;
    top: 100%;
    left: 15%;
    z-index: 1;
}


@media screen and (max-width: 800px){
    .product-img{
        height: 500px;
        margin-top: 31px;
    }
}

@media screen and (max-width: 950px){
    .product-img{
        height: 500px;
        margin-top: 31px;
    }
}

@media screen and (max-width: 590px){
    .product-img{
        height: 500px;
        margin-top: 51px;
    }
}
