/*LOGO - GreenZ*/
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Parisienne&display=swap');
/*welcome text*/
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@300&family=Courgette&family=Parisienne&display=swap');
/*SignIn/CreateAccount*/
@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Fira Sans', sans-serif;
}

:root{
    --logo: #ecece4;
    --colour1: #99E6B2;
    --colour2: #7AD2A8;
    --colour3: #5CBE9D;
    --colour4: #3DAA93;
    --colour5: #1F9688;
    --colour6: #00827E;
}

body{
    overflow-y: hidden;
    overflow-x: hidden;
    
}

.site-container{
    background-image: url(img/ghouse.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.login-container, .register-container{
    backdrop-filter: blur(2px);
    background: rgba(255, 255, 255, 0.2);
    height: 100vh;
	width: 100%;
}

.login-container .login, .register-container .register{
    position: relative;
    z-index: 500;
}

.login, .register{
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    width: 100vh;
    height: 65vh;
    margin: auto;
    top: 20%;
}

/*------------COLOURED BANNER (LOGIN AND REGISTER)------------*/

.login-banner, .register-banner{
    background: rgb(2,0,36);
    background: linear-gradient(315deg, rgba(2,0,36,1) 0%, rgba(0,130,126,1) 51%, rgba(19,161,171,1) 77%, rgba(53,219,253,0.48110259433962266) 96%);
    float: left;
    width: 50%;
    height: 100%;
    text-align: center;
    color: white;
}

.login-banner h1, .register-banner h1{
    padding-top: 80px;
    font-family: 'Courgette', cursive;
    letter-spacing: 4px;
}

.login-banner h3, .register-banner h3{
    padding-top: 30px;
    padding-bottom: 5px;
    letter-spacing: 6px;
    font-size: 15px;
    font-family: 'Be Vietnam', sans-serif;
    margin-bottom: 25px;
}

.login-banner .welcome-text, .register-banner .welcome-text{
    font-size: 10px;
    font-weight: 500;
    line-height: 17px;
    text-align: center;
    letter-spacing: 2.5px;
    font-family: 'Be Vietnam', sans-serif;
}

.login-banner span, .register-banner span{
    text-align: center;
    letter-spacing: 2.5px;
    font-family: 'Be Vietnam', sans-serif;
    font-size: 10px;
}

.sign-up-text, .sign-in-text{
    margin-top: 40px;
    font-size: 9px;
    padding-bottom: 5px;
    letter-spacing: 1px;
    font-family: 'Be Vietnam', sans-serif;
}

.btnSignUp, .btnSignIn{
    outline: none;
    padding: 3px;
    border: 2px solid white;
    background-color: transparent;
    text-transform: uppercase;
    color:white;
}

.btnSignUp:hover, .btnSignIn:hover{
    transform: scale(1.1, 1.2);
    padding-left: 4px;
    padding-right: 4px;
    color:#7AD2A8;
    border: 1px solid #7AD2A8;
}

/*------------WHITE FORM (LOGIN AND REGISTER)------------*/

.login-container .login-form, .register-container .register-form{
    float: right;
}

.login-banner .login-form, .register-banner .register-form{
    display: inline-block;
}

.login-form, .register-form{
    width: 50%;
    height: 100%;
    padding-top: 10px;
    padding-left: 15px;
}

.register-form h1{
    font-family: 'Modak', cursive;
    font-weight: 100;
    letter-spacing: 2px;
    color: #0d726f;
    text-shadow: 6px 5px 4px #92d8d6;
}

.inner-login-form, .inner-register-form{
    margin-right: 15px;
    height: 85%;
}

.labels{
    font-family: 'Be Vietnam', sans-serif;
}

input{
    border: none;
    border-bottom: 1px solid black;
    width: 50%;
    outline: none;
    padding: 5px;
    margin-top: 3px;
}

.inner-login-form input, .inner-register-form input{
    width: 100%;
}

.viewpwd{
    position: relative;
    float: right;
    top: -20px;
    right: 5px;
}

.btnLogin, .btnRegister{
    margin-top: 15px;
    text-align: center;
    border-radius: 25px;
    border: 3px solid #13a1ab;
    outline: none;
    padding: 4px;
    width: 100px;
    font-size: 17px;
    background-color: var(--colour6);
    text-transform: uppercase;
    font-family: 'Be Vietnam', sans-serif;
}

.btnLogin:hover, .btnRegister:hover{
    box-shadow: 0px 8px 16px 0px rgba(14, 153, 159, 0.4);
}

.btnLogin:hover .log-txt, .btnRegister:hover .log-txt{
    font-size: 18.5px;
}

.register-form .home{
    width: 100%;
    text-align: right;
    padding-right: 15px;
    margin-top: -5px;
}

.lnkHome{
    font-size: 12px;
    color: black;
}

.home i{
    padding-left: 5px;
    color: black;
}

.lnkHome:visited{
    color: black;
}

/*------------LOGIN------------*/
.sign-in{
    font-family: 'Modak', cursive;
    font-weight: 100;
    letter-spacing: 2px;
    color: #0d726f;
    text-shadow: 6px 5px 4px #92d8d6;
    padding-top: 25px;
}

.log-group{
    padding-top: 30px;
}

.log-btn{
    text-align: left;
}

.log-home{
    width: 100%;
    text-align: right;
    padding-right: 15px;
    margin-top: -40px;
}

.log-home i{
    padding-left: 5px;
    color: black;
}

/*------------SIGN UP------------*/
.reg-group{
    padding-top: 12.6px;
    /* background-color: #00827E; */
}

.name{
    margin-top: -13px;
}

.viewcfmpwd{
    position: relative;
    float: right;
    top: -20px;
    right: 5px;
}

.reg-btn{
    text-align: left;
    padding-top: 8px;
    width: fit-content;
    /* background-color: #00827E; */
}

@media screen and (min-width: 950){
    .reg-btn{
        text-align: left;
        padding-top: 4px;
        width: fit-content;
        background-color: #00827E;
    }
}